.webix_template {
    text-align: center;
}

.titleStyle {
    background-color: #d2e3ef;
}

.datatableHover {
    background-color: lightgray;
}

.titleStyle div {
    border: 1px solid #b0cee3;
}

.highlight{
    background-color:lightyellow;
}

span {
    color: green;
}

span i {
    margin-right: 10px;
}

.webix_list_item .delete{
    padding-top:7px;
    margin-right:20px;
    float: right;
}

.edit, .delete {
    padding-top: 12%;
}

.edit:hover, .delete:hover {
    cursor: pointer;
}